* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
  line-height: 1.6;
  font-size: 16px;

  background: #EFE9F4;

  color: #484D6D;

	padding-inline: max(calc((100% - 800px) / 2), 20px);
}


section {
  margin-bottom: 3rem;
}

h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

h2 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

h3 {
  font-size: 1.3rem;
  margin-bottom: 0.5rem;
}

p {
  margin-bottom: 1rem;
}

button {
  color: #484D6D;

  padding: 0.75rem 2rem;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

a {
  text-decoration-style: wavy;
  color: #08B2E3;
}

details {
  margin-bottom: 1rem;
}

summary {
  cursor: pointer;
  font-weight: 600;
}


footer {
  text-align: center;
  padding: 2rem;
}
